.css-o69gx8-MuiCardMedia-root {
    width: auto !important;
}
.css-13is7xt-MuiPaper-root-MuiCard-root {
    height: 320px;
}
.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    text-align: center !important;
}