.css-1iyq7zh-MuiDataGrid-columnHeaders{
    background-color:rgb(72, 250, 72) !important;
    border-color: black;
}
.TitleDelete{
    text-align: center;
    width: 100%;
    font-size: 1.7rem !important;
    color:rgb(245, 75, 75) ;
}
.ContainerBtnDelete{
    display: flex;
    justify-content: space-around;
}
.BtnSucess{
    width: 100%;
    margin-right: 5% !important;
    background-color:rgb(72, 250, 72) !important; 
}
.BtnCancel{
    width: 100%;
    margin-left: 5%;
    background-color: rgb(245, 75, 75) !important;
}
