.TitleHeaderGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: rgb(255, 253, 253);
    margin-top: 5%;
    margin-bottom: 2%;
    .border{
    background-color:rgb(72, 250, 72) !important; 
    padding: 1rem;
    border-radius: 5px;
    }
    p{
        font-size: 1.5rem !important
    }
}